<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Jesús Rojas
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/font-awesome.min.css")
	link(rel="stylesheet", href="css/estilos.css")
	<link href="https://fonts.googleapis.com/css?family=Exo:400,500|Nunito:400,600,700" rel="stylesheet">
body
	.Jesus
		.Jesus-nombre
			h1.Jesus-nombre-title Jesús Rojas
			.Jesus-nombre-subtilte Junior Frontend Dev
		nav.Jesus-navbar
			ul.Jesus-navbar-menu
				li.Jesus-navbar-menu-item
					a(href="#") Habilidades
				li.Jesus-navbar-menu-item
					a(href="#") Educacion
				li.Jesus-navbar-menu-item
					a(href="#") Precios
				li.Jesus-navbar-menu-item
					a(href="#") Contacto
	section.JesusHero
		header.JesusHero-header
			.JesusHero-header-container
				h2.JesusHero-header-caption Hola Soy
				h1.JesusHero-header-titulo!= "Jesús <b>Rojas</b>"
				h3.JesusHero-header-subtitle Junior Frontend Developer
				p.JesusHero-header-informacion!= "Hola, soy un Desarrollador Frontend Junior y hoy en día estoy trabajando como <strong>freelancer</strong>. Puedo construir sitios web responsive que funcionen independientemente del navegador y dispositivo que tengas. Soy muy curioso, decidido y proactivo, muy bueno trabajando con equipos. Estoy graduado en secundaria, pero todos los días aprendo sobre programación."
				.JesusHero-header-buttons
					a.JesusHero-header-buttons-btn.btn(href="#portafolio") Portafolio
					a.JesusHero-header-buttons-btn.btn(href="#info") Información
	section.JesusHabili.u-wrapp
		h2.JesusHabili-title.title Habilidades Profecionales

		.JesusHabili-items.u-Grid
			.JesusHabili-items-item.u-Grid-column
				.JesusHabili-items-item-contenedor
					h4.JesusHabili-items-item-contenedor-title HTML5 / CSS3
					p.JesusHabili-items-item-contenedor-porcent 90%
				.JesusHabili-items-item-bar
					.JesusHabili-items-item-bar-porcent
			.JesusHabili-items-item.u-Grid-column
				.JesusHabili-items-item-contenedor
					h4.JesusHabili-items-item-contenedor-title Git
					p.JesusHabili-items-item-contenedor-porcent 90%
				.JesusHabili-items-item-bar
					.JesusHabili-items-item-bar-porcent
			.JesusHabili-items-item.u-Grid-column
				.JesusHabili-items-item-contenedor
					h4.JesusHabili-items-item-contenedor-title Angular
					p.JesusHabili-items-itemcontenedor--porcent 60%
				.JesusHabili-items-item-bar
					.JesusHabili-items-item-bar-porcent
			.JesusHabili-items-item.u-Grid-column
				.JesusHabili-items-item-contenedor
					h4.JesusHabili-items-item-contenedor-title JavaScipt
					p.JesusHabili-items-itemcontenedor--porcent 80%
				.JesusHabili-items-item-bar
					.JesusHabili-items-item-bar-porcent
			.JesusHabili-items-item.u-Grid-column
				.JesusHabili-items-item-contenedor
					h4.JesusHabili-items-item-contenedor-title Bootstrap
					p.JesusHabili-items-itemcontenedor--porcent 90%
				.JesusHabili-items-item-bar
					.JesusHabili-items-item-bar-porcent
			.JesusHabili-items-item.u-Grid-column
				.JesusHabili-items-item-contenedor
					h4.JesusHabili-items-item-contenedor-title Responsive Design
					p.JesusHabili-items-itemcontenedor--porcent 90%
				.JesusHabili-items-item-bar
					.JesusHabili-items-item-bar-porcent
	section.JesusEdu.u-wrapp
		h2.JesusEdu-title.title Educación
		ol.JesusEdu-list.u-Grid
			.u-Grid-column
				a.JesusEdu-list-item-link(href="https://platzi.com/@jesusenriquerojas/curso/html5-css3/diploma/", target="_blank")
					li.JesusEdu-list-item
						h3.JesusEdu-list-item-link-title Curso de Desarollo Web Online
				p.JesusEdu-list-item-time sep de 2017 - sep de 2018
			.u-Grid-column
				a.JesusEdu-list-item-link(href="https://platzi.com/@jesusenriquerojas/curso/fundamentos-javascript/diploma/", target="_blank")
					li.JesusEdu-list-item
						h3.JesusEdu-list-item-link-title Fundamentos de JavaScript
				p.JesusEdu-list-item-time nov de 2017 - nov de 2018
			.u-Grid-column
				a.JesusEdu-list-item-link(href="https://platzi.com/@jesusenriquerojas/curso/responsive-design/diploma/", target="_blank")
					li.JesusEdu-list-item
						h3.JesusEdu-list-item-link-title Curso de Responsive Design
				p.JesusEdu-list-item-time oct de 2017 - oct de 2018
			.u-Grid-column
				a.JesusEdu-list-item-link(href="https://platzi.com/@jesusenriquerojas/curso/git-github/diploma/", target="_blank")
					li.JesusEdu-list-item
						h3.JesusEdu-list-item-link-title Curso profesional de Git y Github
				p.JesusEdu-list-item-time oct de 2017 - oct de 2018
	section.JesusPortafolio.u-wrapp
		h2.JesusPortafolio-title.title Proyectos
		.JesusPortafolio-items.u-Grid
			.JesusPortafolio-item.u-Grid-column
				.JesusPortafolio-item-head
					a(href="")
						img(src="img/mi-pagina.png", alt="proyecto")
						.JesusPortafolio-item-head-hover
							span.fa.fa-search
				.JesusPortafolio-item-footer
					h3.JesusPortafolio-item-footer-title  Lorem ipsum dolor.
					p.JesusPortafolio-item-footer-description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, saepe.
			.JesusPortafolio-item.u-Grid-column
				.JesusPortafolio-item-head
					a(href="")
						img(src="img/mi-pagina.png", alt="proyecto")
						.JesusPortafolio-item-head-hover
							span.fa.fa-search
				.JesusPortafolio-item-footer
					h3.JesusPortafolio-item-footer-title  Lorem ipsum dolor.
					p.JesusPortafolio-item-footer-description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, nemo?
			.JesusPortafolio-item.u-Grid-column
				.JesusPortafolio-item-head
					a(href="")
						img(src="img/mi-pagina.png", alt="proyecto")
						.JesusPortafolio-item-head-hover
							span.fa.fa-search
				.JesusPortafolio-item-footer
					h3.JesusPortafolio-item-footer-title  Lorem ipsum dolor.
					p.JesusPortafolio-item-footer-description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, placeat.
			.JesusPortafolio-item.u-Grid-column
				.JesusPortafolio-item-head
					a(href="")
						img(src="img/mi-pagina.png", alt="proyecto")
						.JesusPortafolio-item-head-hover
							span.fa.fa-search
				.JesusPortafolio-item-footer
					h3.JesusPortafolio-item-footer-title  Lorem ipsum dolor.
					p.JesusPortafolio-item-footer-description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, repudiandae.
	section.JesusPrecios.u-wrapp
		h2.JesusPrecios-title.title Plan de Precios

		.JesusPrecios-planes.u-Grid
			.JesusPrecios-planes-plan.u-Grid-column
				.JesusPrecios-planes-plan-container
					h3.JesusPrecios-planes-plan-container-title!= "Pagina Basica / <span>XXX.XXX Bsf</span>"
					p.JesusPrecios-planes-plan-container-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, doloremque.
				.JesusPrecios-planes-plan-item
					h4.JesusPrecios-planes-plan-item-article Paginas
					p.JesusPrecios-planes-plan-item-number 3
				.JesusPrecios-planes-plan-item
					h4.JesusPrecios-planes-plan-item-article Espacio
					p.JesusPrecios-planes-plan-item-number XXGB
				.JesusPrecios-planes-plan-item
					h4.JesusPrecios-planes-plan-item-article Soporte
					p.JesusPrecios-planes-plan-item-number 1 Mes
				a.JesusPrecios-planes-plan-boton.btn(href="#") Registrar Ahora
			.JesusPrecios-planes-plan.u-Grid-column
				.JesusPrecios-planes-plan-container
					h3.JesusPrecios-planes-plan-container-title!= "Pagina Profesional / <span>XXX.XXX Bsf</span>"
					p.JesusPrecios-planes-plan-container-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, ab.
				.JesusPrecios-planes-plan-item
					h4.JesusPrecios-planes-plan-item-article Paginas
					p.JesusPrecios-planes-plan-item-number +7
				.JesusPrecios-planes-plan-item
					h4.JesusPrecios-planes-plan-item-article Espacio
					p.JesusPrecios-planes-plan-item-number XXGB
				.JesusPrecios-planes-plan-item
					h4.JesusPrecios-planes-plan-item-article Soporte
					p.JesusPrecios-planes-plan-item-number 1 Año
				a.JesusPrecios-planes-plan-boton.btn(href="#") Registrar Ahora

	footer.JesusContacto.u-wrapp
		h2.JesusContacto-title.title Contactame
		.JesusContacto-grid.u-Grid
			ul.JesusContacto-informacion.u-Grid-column
				li.JesusContacto-informacion-item
					.JesusContacto-informacion-item-header
						span.fa.fa-home
						h3.JesusContacto-informacion-item-header-title Localización
					p.Jesuscontacto-infromacion-item-info Maturín, Monagas, Venezuela
				li.JesusContacto-informacion-item
					.JesusContacto-informacion-item-header
						span.fa.fa-envelope-open-o
						h3.JesusContacto-informacion-item-header-title Contacto
					p.Jesuscontacto-infromacion-item-info!= "jesusrojas.frontend@gmail.com <br> +58 424-934-7744"
				li.JesusContacto-informacion-item
					ul.JesusContacto-informacion-item-red
						li.JesusContacto-informacion-item-red-icono
							a.JesusContacto-informacion-item-red-icono-social(href="#")
								span.fa.fa-linkedin
						li.JesusContacto-informacion-item-red-icono
							a.JesusContacto-informacion-item-red-icono-social(href="#")
								span.fa.fa-github
			form.JesusContacto-formulario.form-group.u-Grid-column
				input.JesusContacto-formulario-input.form-control(type="text" required id="nombre" name="nombre" placeholder="Su Nombre")
				input.JesusContacto-formulario-input.form-control(type="email" id="email" name="email" placeholder="Su correo")
				input.JesusContacto-formulario-input.form-control(type="text" id="mensaje" name="mensaje" placeholder="El asunto")
				textarea.JesusContacto-formulario-input--textarea.form-control(name="comentarios", cols="30", rows="5" placeholder="Mensaje a dejar")
				input(type="submit", value="Enviar").JesusContacto-formulario-btn.btn


	script(src="js/jquery.js")
	script(src="js/popper.min.js")
	script(src="js/bootstrap.min.js")